services:
  db:
    image: postgres:14
    env_file:
      - .env   # здесь будут использованы POSTGRES_DB, POSTGRES_USER, POSTGRES_PASSWORD
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db                # переопределяем хост для Docker
      # Можно также задать DB_PORT, обычно 5432
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data: